<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="OraConnect" providerName="Oracle.DataAccess.Client" 
         connectionString="user id=[username];password=[password];data source=//supinfo-project:1521/orcl.oracle.com"/>

  </connectionStrings>

</configuration>