<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OraConnect" providerName="Oracle.DataAccess.Client" 
         connectionString="user id=uorison;password=uorison;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.0.80)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orison))) "/>
  </connectionStrings>
    <!--<add name="OraConnect" providerName="Oracle.DataAccess.Client"
        connectionString="Data Source=ORCL;User Id=ABYSS;Password=password"/>--><!--
  </connectionStrings>-->
</configuration>